html {
  height: 100%;
}

body {
  background-color: #271835;
  background-image: url("bgimg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

nav {
  font-family: Arial;
}

nav a {
  color: #271835;
  text-decoration: none;
  padding: 1%;
}

nav > div {
  width: 100%;
  background: #b5a0c7;
  padding-bottom: 1%;
  padding-top: 1%;
}

.dropdowncontent {
  display: none;
  position: absolute;
  /*width: inherit;  */
  height: inherit;
  background-color: #b5a0c7;
  color: #271835;
  z-index: 1;
  padding-top: 1%;
  /*min-width: 160px;*/
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  padding: 12px 16px;
}

.dropdown {
  display: inline-block;
  z-index: 1;
  padding-left: 1%;
  color: #271835;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.contentcontainer {
  background: #271835;
  color: #b5a0c7;
  text-align: center;
  margin: auto;
  font-family: 'Courier New', monospace;
  height: 210%;
  width: 80%;
  padding: 1%;
}

h1, h4 {
  color: #8d2958;
}

table, td {
  border: 1px solid #b5a0c7;
  border-collapse: collapse;
}

footer {
  color: #473983;
  font-family: Arial;
  text-align: right;
  text-align: left;
}