html {
    height: 100%;
}

body {
    background-color: #933a58;
    background-image: url("protagbg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: Arial;
}

nav {
    font-family: Arial;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1%;
}

nav > div {
    width: 100%;
    background: #e76b90;
    padding-bottom: 1%;
    padding-top: 1%;
}

.dropdowncontent {
    display: none;
    position: absolute;
    /*width: inherit;  */
    height: inherit;
    background-color: #e76b90;
    color: white;
    z-index: 1;
    padding-top: 1%;
    /*min-width: 160px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 12px 16px;
  }

.dropdown {
    display: inline-block;
    z-index: 1;
    padding-left: 1%;
    color: white;
}

.dropdown:hover .dropdowncontent {
    display: block;
}

.contentcontainer {
    background-color: #933a58;
    color: white;
    width: 80%;
    margin: auto;
    height: 700%;
    padding: 1%;
}

h1, h2 {
    margin: auto;
    text-align: center;
}

figure {
    float: left;
    width: 200px;
    height: 200px;
    padding: 2%;
}

img {
    width: 200px;
    height: 200px;
}

figcaption {
    float: none;
    background-color: #6c7d37;
    padding: 0.5%;
}

#floatrightimg {
    float: right;
}

footer {
    color: #9fac52;
}

footer > h2 {
    text-align: left;
}

.githubsprite {
    background: url('icon.png') no-repeat -412px -91px;
    width: 33px;
    height: 33px;
}

.facebooksprite {
    background: url('icon.png') no-repeat -182px -91px;
    width: 33px;
    height: 33px;
}